<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, error et.
      Voluptatum ex, eius possimus dolorum repudiandae ea error. Nemo
      praesentium nulla velit explicabo repellat dolor neque autem laudantium
      quisquam?
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, eaque
        voluptate iste dolorum optio nemo repellat. Ab minus ratione quibusdam!
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, error et.
      Voluptatum ex, eius possimus dolorum repudiandae ea error. Nemo
      praesentium nulla velit explicabo repellat dolor neque autem laudantium
      quisquam?
    </p>
  </div>
</section>
