<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quae ad
        consequatur ullam nisi. Dolore ab, modi vel, exercitationem dolor
        laudantium nulla similique esse facere quia reprehenderit earum soluta
        corporis.
      </p>
    </div>
    <a class="btn btn--secondary btn--streched" href="">Get Started</a>
  </div>
</div>
