<blockquote class="quote">
  <p class="quote__text">
    If you’re a lover, you’ve got to be a fighter. Because if you don’t fight
    for your love, what kind of love do you have?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Wick</h3>
        <p class="quote_organization">Hitman Special</p>
      </div>
    </div>
  </footer>
</blockquote>
